.productCard {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
  }
  
  .productImage {
    flex: 1;
    margin-right: 20px;
  }
  
  .productInfo {
    flex: 2;
  }
  
  .rating {
    display: flex;
    align-items: center;
  }
  
  /* Define styles for star icons (assuming you have star icons) */
  .icon-star-empty {
    color: #ddd; /* Empty star color */
    font-size: 24px; /* Adjust the size as needed */
    margin-right: 5px; /* Spacing between stars */
  }
  
  .icon-star-full {
    color: gold; /* Filled star color */
    font-size: 24px; /* Adjust the size as needed */
  }